/* General Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Main container */
.container {
    margin-top: 30px;
    text-align: center;
}

/* Headings */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Form Styles */
.input-field {
    margin: 10px 0;
}

input, select {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

/* Move the 'Fitness Goal' dropdown down */
.input-field:nth-child(2) {
    margin-top: 30px; /* Adjust this value to push it further down */
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #555;
}

/* Workout Output Styles */
.workout-output {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.workout-output.visible {
    display: block;
    opacity: 1;
}

/* List Styles */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.2rem;
}
